html, body {
    font-family: 'Roboto', 'Noto Sans', 'Noto Sans JP', sans-serif !important;
    font-weight: 400;
}
nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Noto Sans', 'Noto Sans JP', sans-serif !important;
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
.mono, input.form-control {
    font-family: 'Roboto Mono', 'Noto Sans JP', monospace !important;
}